[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
slackclient = "*"
requests = "*"
py-trello = "==0.10.0"
psycopg2 = "==2.7.3.1"
fuzzywuzzy = "*"
python-Levenshtein = "*"

[requires]
python_version = "3.6"
